body{
  padding:0;
  margin: 0;
  font-family: 'Lucida Grande';
  font-size: 0;
  font-weight: bold;
} 

a:link{ 
  text-decoration: none;
  color: #fff;
 }
 
a:visited{ color: #fff;}

.topnav{ 
  background:#000000;
  color: #fff;
}

.n{
  text-align: center;
  width: 33.2%;
  vertical-align: top;
  display: inline-block;
  font-size: 24px;
}

.n1{ border: 1px solid #D72B2B; }
.n2{ border: 1px solid #FF2BD7; }
.n3{ border: 1px solid #F5A623; }

.interactive .n1{
  background-color: #D72B2B; 
  border: 1px solid #D72B2B;
}
.branding .n2{
  background-color: #FF2BD7; 
  border: 1px solid #FF2BD7;
}
.packaging .n3{
  background-color: #F5A623; 
  border: 1px solid #F5A623;
}

.piece{width: 100%;}

.p2{ width: 450px;
  display: inline-block;
}

.work{
  margin: 0 auto;
}
.container h1{ text-align: center;}
.container{
  position: relative;
  font-size: 16px;
  width: 80%;
  margin: 50px auto;
}

.piece{
  
  background-size: cover;
  background: center center no-repeat;
}

.brief{ 
  width: 50vw;
  /* margin: -350px auto 50px; */
  position:absolute;
  top:-250px;
  left: 15vw;
  
  background: #fff;
  
}

.container p { 
  font-weight: normal;
}

video{ width:100%;}
video.video-step { width: 350px; }

.scroll-top { 
  width: 100%;
  margin: auto;
  width: 50%;
  padding: 10px;
  display: block;
}
.scroll-top img{
  margin: auto;
  padding: 10px;
  display: block;
}
