body{
  padding:0;
  margin: 0;
  font-family: 'Lucida Grande';
  font-size: 0;
  font-weight: bold;
} 

a:link{ 
  text-decoration: none;
  color: #fff;
 }
 
a:visited{ color: #fff;}

.topnav{ 
  background:#000000;
  color: #fff;
}

.n{
  text-align: center;
  width: 33.2%;
  vertical-align: top;
  display: inline-block;
  font-size: 34px;
}

.n1{ border: 1px solid #D72B2B; }
.n2{ border: 1px solid #FF2BD7; }
.n3{ border: 1px solid #F5A623; }

.interactive .n1{
  background-color: #D72B2B; 
  border: 1px solid #D72B2B;
}
.branding .n2{
  background-color: #FF2BD7; 
  border: 1px solid #FF2BD7;
}
.packaging .n3{
  background-color: #F5A623; 
  border: 1px solid #F5A623;
}

.piece{width: 100%;}

.p2{ width: 450px;
  display: inline-block;
}

.work{
  margin: 0 auto;
}

.container{
  font-size: 16px;
  width: 80%;
  margin: 50px auto;
  text-align: center;
}

.brief{ 
  width: 50%;
margin: 0 auto 50px;
}

.container p { 
  font-weight: normal;
}
