body{
  padding:0;
  margin: 0;
  font-family: 'Lucida Grande';
  font-size: 0;
  font-weight: bold;
  background: #000000;
} 

a:link{ 
  text-decoration: none;
  color: #fff;
 }
 
a:visited{ color: #fff;}

.topnav{ 
  background:#000000;
  color: #fff;
}

.n{
  text-align: center;
  width: 33.2%;
  vertical-align: top;
  display: inline-block;
  font-size: 34px;
}

.n1{ border: 1px solid #D72B2B; }
.n2{ border: 1px solid #FF2BD7; }
.n3{ border: 1px solid #F5A623; }

.interactive .n1{
  background-color: #D72B2B; 
  border: 1px solid #D72B2B;
}
.branding .n2{
  background-color: #FF2BD7; 
  border: 1px solid #FF2BD7;
}
.packaging .n3{
  background-color: #F5A623; 
  border: 1px solid #F5A623;
}


