body{
  background: #000000;
  color: #fff;
  padding:0;
  margin: 0;
  font-family: 'Lucida Grande';
  font-size: 0;
  font-weight: bold;
} 

a:link{ 
  text-decoration: none;
  color: #fff;
 }
a:visited{ color: #fff;}

.n{
  text-align: center;
  width: 33.2%;
  vertical-align: top;
  display: inline-block;
  font-size: 24px;
}

.n1{ border: 1px solid #D72B2B; }
.n2{ border: 1px solid #FF2BD7; }
.n3{ border: 1px solid #F5A623; }

.interactive .n1{
  background-color: #D72B2B; 
  border: 1px solid #D72B2B;
}
.branding .n2{
  background-color: #FF2BD7; 
  border: 1px solid #FF2BD7;
}
.packaging .n3{
  background-color: #F5A623; 
  border: 1px solid #F5A623;
}


.project{
  padding:10px;
  margin:40px;
  display: inline-block;
  vertical-align: top;
  font-size: 20px; 
  width: 300px;
  height: 300px;
  text-align:center;
  font-family: sans-serif;
}
/* 
.project:hover{ 
  background: #fff;
} */

.project .horiz {
  width: 300px;
  display: none;
}

.project:hover {
  font-size: 0;
}

/* interaction */
.project.dropgrow:hover{
  background: url('../img/dropgrow-2.png') center center no-repeat;
  background-size: cover;
}
.project.steps:hover{
  background: url('../img/stepslogo.jpg') center center no-repeat;
  background-size: cover;
}
.project.add:hover{
  background: url('../img/add.png') center center no-repeat;
  background-size: cover;
}

/* branding */
.project.unfold:hover {
  background: url('../img/unfoldapp.jpg') center center no-repeat;
  background-size: cover;
}
.project.earthseawarrior:hover {
  background: url('../img/ESW_web_newlogo_banner.gif') center center no-repeat;
  background-size: cover;
}
.project.puppettea:hover {
  background: url('../img/puppet tea-all.jpg') center center no-repeat;
  background-size: cover;
}
.project.wetmarket:hover {
  background: url('../img/wetmarket.png') center center no-repeat;
  background-size: cover;
}
.project.ellusion:hover {
  background: url('../img/Ellusion_Web_2.jpg') center center no-repeat;
  background-size: cover;
}
.project.mta:hover {
  background: url('../img/mta-1.jpg') center center no-repeat;
  background-size: cover;
}


/* packaging */
.project.paiwan:hover {
  background: url('../img/paiwanjin.png') center center no-repeat;
  background-size: cover;
}
.project.xzapz:hover {
  background: url('../img/xzap-1.jpg') center center no-repeat;
  background-size: cover;
}
.project.tushiez:hover {
  background: url('../img/Crystal-Tushiez.gif') center center no-repeat;
  background-size: cover;
}
.project.outofsight:hover {
  background: url('../img/outofsight-1.jpg') center center no-repeat;
  background-size: cover;
}
.project.mm:hover {
  background: url('../img/MM.png') center center no-repeat;
  background-size: cover;
}
.project.kw:hover {
  background: url('../img/kw_kid-1.JPG') center center no-repeat;
  background-size: cover;
}



h1{ 
  margin:0; 
  font-family: 'Lucida Grande';
}
 



.home{
 /* background: #0200FF;
 width: 100px;
 height: 50px; */
 position: fixed;
 bottom:20px;
 left:20px;
}
